<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <!-- <link rel="stylesheet" href="./eleIndex.css"> -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        .styleRed {
            width: 100px;
            height: 100px;
            background-color: red;
        }

        .styleBlue {
            width: 100px;
            height: 100px;
            background-color: blue;
        }

        .child {
            border: 2px solid orange;
            margin: 20px 0px;
            border-radius: 5px;
        }
    </style>
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div id="app">
        对象语法 --- 内联定义
        <div v-bind:class="{styleRed:showRed, styleBlue:!showRed}"></div>
        Red:<input type="radio" name="style" id="red" v-model="currentChoose" value="red"> Blue:
        <input type="radio" name="style" id="blue" v-model="currentChoose" value="blue">
        <br>对象语法 --- 非内联定义
        <div v-bind:class="classObj"></div>
        数组语法
        <div v-bind:class="[currentStyle]"></div>
        <select name="" id="" v-model="currentStyle">
            <option value="styleRed">Red</option>
            <option value="styleBlue">Blue</option>
        </select>
        <div v-bind:class="[currentStyle === 'styleRed' ? 'styleRed' : 'styleBlue']"></div>
        <div v-bind:class="[{styleRed: showRed, styleBlue: !showRed}]"></div>
        <my-component class="styleBlue"></my-component>
        <my-component v-bind:class="{styleRed:showRed}"></my-component>
        <div v-bind:style="{width : styleWidth + 'px', 'height' : styleHeight + 'px', 'background-color' : styleColor}"></div>
        宽度：
        <el-slider v-model="styleWidth" :max="1024"></el-slider>
        高度：
        <el-slider v-model="styleHeight" :max="1024"></el-slider>
        自定义颜色：
        <el-color-picker v-model="styleColor"></el-color-picker>
        <div v-bind:style="styleObject"></div>
        绑定内联样式，style数组格式：
        <div v-bind:style="[styleObject, styleRadius]"></div>
        <el-slider v-model="radius" :max="1024"></el-slider>
        <div v-bind:style="{transform: 'rotate('+ rotate +'deg)',width: '100px',height: '100px', 'background-color': '#333'}"></div>
        <el-slider v-model="rotate" :max="360"></el-slider>
    </div>
    <script src="../plugin/vue.js"></script>
    <!-- <script src="./eleIndex.js"></script> -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script>
        Vue.component('my-component', {
            template: '<div class="child"></div>'
        });

        var app = new Vue({
            el: "#app",
            data: {
                currentChoose: "red",
                currentStyle: "styleBlue",
                styleWidth: 100,
                styleHeight: 100,
                styleColor: '#111111',
                radius: 0,
                rotate: 0
            },
            computed: {
                showRed: function () {
                    return this.currentChoose === "red" ? true : false;
                },
                classObj: function () {
                    return {
                        styleRed: this.showRed,
                        styleBlue: !this.showRed
                    }
                },
                styleObject: function () {
                    return {
                        'width': this.styleWidth + 'px',
                        'height': this.styleHeight + 'px',
                        'background-color': this.styleColor
                    }
                },
                styleRadius: function () {
                    return { 'border-radius': this.radius + 'px' }
                }
            }
        })
    </script>
</body>

</html>