<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Vue名字案列</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <input type="text" v-model="first_name">+
    <input type="text" v-model="last_name">=
    <input type="text" v-model="full_name">
</div>
<script>
new Vue({
    el: '#app',
    data: {
        first_name: '',
        last_name: '',
        full_name: ''
    },
    // watch属性能够监听data中的属性的变化，一变化就会促发相应的函数
    watch: {
        first_name: function () {
            this.full_name = this.first_name + '-' + this.last_name
        },
        last_name: function () {
            this.full_name = this.first_name + '-' + this.last_name
        }

    }
})
</script>
</body>
</html>
