<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>practise</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<style>
    ul {
        list-style: none;
    }

    ul, li {
        margin: 0px;
        padding: 0px;
    }

    li {
        background-color: red;
        width: 50px;
        height: 50px;
        position: absolute;
        text-align: center;
        color: white;
        line-height: 50px;
        left: 0px;
        top: 0px;
    }
</style>
<script>
window.onload = function () {
    return new Vue({
        el: '#app',
        data: {
            // count: [],
            number:100
        },
        methods:{
            // add(){
            //     for(let i=0;i<100;i++){
            //         this.count.push(i)
            //     }
            //     console.log("add()")
            // },
            style1(index){
                let left = `${index % 10 * 50 + 10 * (index % 10 + 1)}px`
                let top = `${(Math.floor(index / 10) * 50) + 10 * (Math.floor(index / 10) + 1)}px`
                console.log("style1()")
                return {
                    left,
                    top
                }
            }
        },
        // mounted:function () {
        //     this.add()
        // }
    })
}
</script>
<body>
<div id="app">
    <ul>
<!--        <li v-for="index in count" :key="index" :style="{left:`${index % 10 * 50 + 10 * (index % 10 + 1)}px`-->
<!--        , top:`${(Math.floor(index / 10) * 50) + 10 * (Math.floor(index / 10) + 1)}px`}">{{index}}</li>-->
<!--        <li v-for="index in count" :key="index" :style="style1(index)">{{index}}</li>-->
<!--        <li v-for="index in 100" :key="index" :style="style1(index-1)">{{index-1}}</li>-->
        <li v-for="index in number" :key="index" :style="style1(index-1)">{{index-1}}</li>
    </ul>
</div>
</body>
</html>
